.top-banner{
    background-image: url('../../../Tevily/banner-3.jpg');
    background-size: cover;
    color: white;
}
.style {
  font-size: 40px;
    color: #e8604c;
    line-height: 80px;
    font-family: 'Reenie Beanie', cursive;
}
@media only screen and (max-width :576px) {
    .top-banner{
      width: 50%;
    }}